:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.version {
  font-size: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* style the input element */
.input {
  width: 100%;
  padding: 8px 16px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 3px solid #cf7777;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

/* style the textarea element */
.textarea {
  width: 100%;
  padding: 8px 16px;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  border: 3px solid #42e285;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.textbox {
  padding: 16px;
  min-height: 100px;
  border-radius: 8px;
  text-align: start;
  border: 3px solid #428ce2;
}

.example {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  font-size: 1rem;
}

.footer {
  margin-top: 3rem;
}
